<link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.bubble.css" rel="stylesheet" />

<div class="p-4 w-full gap-1 h-screen grid grid-cols-2">
  <div>
    <div id="editor" class="p-6 bg-slate-100" />
  </div>
  <div id="preview" class="prose p-6 w-full" />
</div>
<script>
  window.props = {
    document_id: "<%= @id %>",
    document_content: atob("<%= @content %>"),
    revision: <%= @revision %>,
  };
</script>
