<div class="p-4 w-full flex gap-1">
  <div id="editor" class="w-full flex-1 border-2 min-h-[95vh] px-[25px] py-[30px]" />
  <div id="preview" class="w-full flex-1 border-2 bg-slate-100 px-[25px] py-[30px] prose" />
</div>
<script>
  window.props = {
    document_id: "<%= @id %>",
    document_content: atob("<%= @content %>"),
  };
</script>
