<link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet" />

<div class="p-4 w-full">
  <div id="editor" />
</div>
<script>
  window.props = {
    document_id: "<%= @id %>",
    document_content: "<%= @content %>"
  };
</script>
